root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8

trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,json,yaml}]
indent_size = 2

[client/**.js]
indent_size = 4

[client/live-page/**.js]
indent_size = 2

[client_admin/**.js]
indent_size = 4

[*.{html,css}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
